input{
    width:500px;
}
li{
    cursor: pointer;
}
.savoir
{
    font-size: xx-large;
    margin: 5px;
}
.infos
{
    font-size: x-small;
    margin: 5px;
}

#contenaire{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}